<li>
	{{burger}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}<b>DEVOUR IT!</b>{{else}}Remake Burger
	</button><button class="delete-burger" data-id="{{this.id}}">Throw Away Trash</button>{{/if}}

	 <!--Added option to Remake Burger & to delete burger from database -->
</li>
